<div class="container">


  <div class="content">
    <h1>Neon/Glowing Light</h1>
    <h3>Colored shadows create glowing light</h3>
  </div>



</div>
<style>
  .content {
    width: 30%;
    height: 20%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 1em;
    box-shadow: 0px 0px 10px 5px rgba(253, 253, 253, 0.3);
  }

  .content h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #e0ffff;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3), 0px 0px 20px #fff;
    margin: 3px;
  }

  .content h3 {
    font-size: 20px;
    color: #e0ffff;
  }
</style>