<p-menubar [model]="items">
  <div class="flex items-center align-middle gap-2">
    <i class="pi pi-code" style="font-size: 1.5rem; margin-right: 10px; cursor: pointer;"
      (click)="menu.toggle($event)"></i>
    <p-menu #menu [model]="links" [popup]="true" />
  </div>
</p-menubar>


<div>{{production}}</div>
<div>{{apiUrl}}</div>
<div>{{debugMode}}</div>
<div>{{title}}</div>

<div>
  <router-outlet />
</div>


<footer class="footer">
  <div class="">
    <div class="text-muted">© 2025 {{title}}</div>
    <div class="text-muted float-end">Powered by Angular</div>
  </div>
</footer>